/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.social_dragging {
  list-style: none;
}

.wp-block-qtd-blocks-team-members {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  @for $i from 1 through 6 {
	&.has-#{$i}-columns {
	  .wp-block-qtd-blocks-team-member {
		width: calc(100%/#{$i} - 20px);
	  }
	}
  }
  .wp-block-qtd-blocks-team-member {
	background-color: #fffcfc;
	color: #322e2e;
	padding: 2px;
	border: 1px solid #0d0f15;
	margin: 10px;
	&.is-style-rounded{
	  border-radius: 5%;
	}
	&.is-style-squared{
	  border-radius: 0px;
	}
	&.is-style-outlined{
	  border-radius: 0px;
	  border: 2px solid currentcolor;
	}
	&.has-shadow{
	  box-shadow: 0 0 20px rgba(0,0,0,0.3);
	  &.shadow-opacity-10 {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	  }
	  &.shadow-opacity-20 {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	  }
	  &.shadow-opacity-30 {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	  }
	  &.shadow-opacity-40 {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	  }
	}

	&__title {
	  color: #d24848 !important;
	  font-size: 2rem;
	  font-weight: lighter;
	  font-style: oblique;
	  text-transform: capitalize;
	  margin-bottom: 0;
	  padding: 10px;
	}

	&__info {
	  color: #641414 !important;
	  font-size: 1rem;
	  font-weight: bolder;
	  margin-bottom: 5px;
	  padding: 10px;
	}
	&__addIcon {
	  padding: 2px;
	  line-height: 1;
	  border: 1px dashed #00d082;
	  cursor: pointer;
	}
	&__linkForm {
	  border: 1px solid #eaeaea;
	  padding: 10px;
	  margin-top: 10px;
	}
	&__removeLink {
	  color: #d23535;
	  font-size: 14px;
	  text-decoration: underline;
	  cursor: pointer;
	}
	&__social {
	  padding: 10px;
	  ul {
		list-style: none;
		line-height: 1;
		margin-left: -5px;
		margin-right: -5px;

		li {
		  display: inline-block;
		  line-height: 1;
		  margin: 5px;

		  a {
			border-bottom: none;
		  }

		  &.is-selected {
			outline: 2px solid #99797e;
		  }

		  svg {
			vertical-align: middle;
			color: #4e4e4e;
		  }
		}
	  }
	}
  }
}

.wp-block-qtd-blocks-team-member {
  background-color: #fffcfc;
  color: #322e2e;
  padding: 2px;
  border: 1px solid #0d0f15;
  margin: 10px;
  &.is-style-squared{
	border-radius: 0px;
  }
  &.is-style-outlined{
	border-radius: 0px;
	border: 2px solid currentcolor;
  }
  &.has-shadow{
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	&.shadow-opacity-10 {
	  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	}
	&.shadow-opacity-20 {
	  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	}
	&.shadow-opacity-30 {
	  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	}
	&.shadow-opacity-40 {
	  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	}
  }
  &__title {
	font-size: 2rem;
	font-weight: lighter;
	font-style: oblique;
	text-transform: capitalize;
	margin-bottom: 0;
	padding: 10px;
  }

  &__info {
	font-size: 1rem;
	font-weight: bolder;
	margin-bottom: 5px;
	padding: 10px;
  }
  &__addIcon {
	padding: 2px;
	line-height: 1;
	border: 1px dashed #00d082;
	cursor: pointer;
  }
  &__linkForm {
	border: 1px solid #eaeaea;
	padding: 10px;
	margin-top: 10px;
  }
  &__removeLink {
	color: #d23535;
	font-size: 14px;
	text-decoration: underline;
	cursor: pointer;
  }
  &__social {
	padding: 10px;
	ul {
	  list-style: none;
	  line-height: 1;
	  margin-left: -5px;
	  margin-right: -5px;

	  li {
		display: inline-block;
		line-height: 1;
		margin: 5px;

		a {
		  border-bottom: none;
		}

		&.is-selected {
		  outline: 2px solid #99797e;
		}

		svg {
		  vertical-align: middle;
		  color: #4e4e4e;
		}
	  }
	}
  }
}

